li.authorItem {
    position: relative;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: 10px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.follow{
    color: #42c02e;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 13px;
}
.iconPlus{
    margin-right: 3px;
}
.iconHead{
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 10px;
    display: block;
    border: 1px solid #ddd;
}
.authorName{
    color: #333;
    text-decoration: none;
    font-size: 14px;
    padding-top: 5px;
    display: block;
    margin-right: 50px;
}
.info{
    font-size: 12px;
    color: #969696;
    margin-top: 2px;
}