.qrWrapper {
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 22px;
    border: 1px solid #f0f0f0;
    margin-bottom: 30px;
    border-radius: 6px;
    color: black;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
}

.smallQr {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.des {
    color: #999;
    font-size: 13px;
    margin-top: 4px;
}

.info {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    height: 60px;
}

.relativeBox {
    position: relative;
}

.hiddenQr {
    width: 150px;
    padding: 6px;
    background-color: white;
    border: 1px #bbbbbb solid;
}

.hiddenPart {
    text-align: center;
    position: absolute;
    top: -170px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
}
.triDownBig{
    width: 0;
    height: 0;
    border-top: 12px #bbbbbb solid;
    border-bottom: 12px transparent solid;
    border-left: 12px transparent solid;
    border-right: 12px transparent solid;
    margin: 0 auto;
    position: relative;
    bottom: 3px;
}
.triDown{
    width: 0;
    height: 0;
    border-top: 10px white solid;
    border-bottom: 10px transparent solid;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 7px;
}