.enter{
    transform: scale(0.9);
    opacity: 0;
    transform-origin: center bottom;
}
.enterActive{
    opacity: 1;
    transform: scale(1);
    transition: all 0.05s ease-out;
}

.exit{
    opacity: 1;
    transform: scale(1);
    transform-origin: center bottom;
}
.exitActive{
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.05s ease-out;
}